<%= form_with model: [ article, article.comments.build ] do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
    <%= render_field_errors("commenter", errors) %>
  </p>
  
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
    <%= render_field_errors("body", errors) %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
