<%= form_with model: [ article, article.comments.build ] do |form| %>
  <p><%= current_user.email %></p>
  
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
    <%= render_field_errors("body", errors) %>
  </p>

  <%= form.hidden_field :status , :value => "public"  %>

  <p>
    <%= form.submit %>
  </p>
<% end %>
