<%= form_with model: article do |form| %>
  <div>
    <%= form.label :status %><br>
    <%= form.select :status, @valid_statuses %><br>
    <%= render_field_errors(:status, article.errors) %>
  </div>


  <div><br>
    <%= form.label :title %><br>
    <%= form.text_field :title %><br>
    <%= render_field_errors(:title, article.errors) %>
  </div>

  <div><br>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
    <%= render_field_errors(:body, article.errors) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>